<ion-view title="Buscar Autos" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Marca del Auto</span>
                <select>
                    <option>Mercedes</option>
                    <option>Volvo</option>
                    <option>Nissan</option>
                    <option>Toyota</option>
                </select>
            </label>
            <ion-toggle toggle-class="toggle-positive">Entrega Includida</ion-toggle>
        </form>
        <div class="button-bar"></div>
        <form class="list">
            <ion-item class="range range-positive">Asientos
                <input type="range" value="1" min="2" max="12">
            </ion-item>
            <ion-item class="range range-positive">Máximo diario
                <input type="range" value="20" min="0" max="300000">
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#" onclick="window.open('HTTP_//NBA.COM', '_system', 'location=yes'); return false;">
                <img>
                <h2>Title</h2>
                <p style="white-space:normal;">Item</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>