<ion-view title="Publicar Auto" id="page6">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Marca del Auto</span>
                <select>
                    <option>Mercedes</option>
                    <option>Volvo</option>
                    <option>Nissan</option>
                    <option>Toyota</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Modelo</span>
                <input type="text" placeholder="Susuki spot!">
            </label>
            <ion-toggle toggle-class="toggle-positive">Entrega Includida</ion-toggle>
        </form>
        <div class="button-bar"></div>
        <form class="list">
            <ion-item class="range range-positive">Asientos
                <input type="range" value="1" min="2" max="12">
            </ion-item>
            <label class="item item-input">
                <span class="input-label">Precio Diario</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Disponible Desde</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Disponible Hasta</span>
                <input type="date" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>